In [188]:
import pandas as pd

In [189]:
print(pd.__version__)

2.1.4

In [190]:
list=[1,2,3,4,5,'Amaan']

print(list)
a=pd.Series(list)

print(a)

[1, 2, 3, 4, 5, 'Amaan']
0        1
1        2
2        3
3        4
4        5
5    Amaan
dtype: object

In [191]:
dict={'Football':'Ronaldo','Cricket':'Virat Kohli','Tennis':'Novak. Djokovic'}


a=pd.Series(dict)
print(a)

Football            Ronaldo
Cricket         Virat Kohli
Tennis      Novak. Djokovic
dtype: object

In [192]:
list=[1,2,3,4,5,6]

a=pd.Series(list, index=['A','B','C','D','E','F'])

print(a)

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [193]:
dict_s = pd.Series({'A':10,'B':20,'C':30,'D':40})

v=dict_s['B']

In [194]:
print(a[:2:-1])

F    6
E    5
D    4
dtype: int64

In [195]:
a=pd.Series(a, dtype=int)

print(a)

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int32

In [196]:
a=pd.Series(['A','B','C','D','E','F'], dtype=object, name='Letters')

print(a)

0    A
1    B
2    C
3    D
4    E
5    F
Name: Letters, dtype: object

In [197]:
a=pd.Series([1,2,3,4,5,6])
b=pd.Series([10,20,30,40,50,60])

add_series=a+b

print(add_series)

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [198]:
subs=b-a

print(subs)

mul=a*b

print(mul)

div=b/a
print(div)

mod=b%a
print(mod)

0     9
1    18
2    27
3    36
4    45
5    54
dtype: int64
0     10
1     40
2     90
3    160
4    250
5    360
dtype: int64
0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
dtype: float64
0    0
1    0
2    0
3    0
4    0
5    0
dtype: int64

DATA FRAME

In [199]:
A=pd.DataFrame()

print(A)

Empty DataFrame
Columns: []
Index: []

In [200]:
list=[[1,2,3],[4,5,6],[7,8,9,]]

a=pd.DataFrame(list)
print(a)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [201]:
a={'a':['Amaan','Shakeel','Isha','Sameer'], 'b':[101,201,301,401]}
a=pd.Series(a)
print(a)

a    [Amaan, Shakeel, Isha, Sameer]
b              [101, 201, 301, 401]
dtype: object

In [202]:
dict_7 = {'ID':pd.Series(['A','B','C']),'SN':pd.Series([11,22,33])}
df_7 = pd.DataFrame(dict_7)
print(df_7)

  ID  SN
0  A  11
1  B  22
2  C  33

In [203]:
data = {
    'Calories':[430,420,390,376],
    'Duration':[50,45,40,38]
}
#Load data into a DataFrame object
data_df = pd.DataFrame(data, index=['Day 1','Day 2','Day 3','day 4'])

print(data_df)

       Calories  Duration
Day 1       430        50
Day 2       420        45
Day 3       390        40
day 4       376        38

In [204]:
print(data_df.loc[['Day 3']])

       Calories  Duration
Day 3       390        40

In [205]:
df=pd.read_csv('C:\\Users\\HP\\Documents\\python\\data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [206]:
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [207]:
print(df.columns)

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [208]:
df=pd.read_csv('C:\\Users\\HP\\Documents\\python\\data.csv', usecols=[0,1,2,3], nrows=10)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [209]:
df=pd.read_csv('C:\\Users\\HP\\Documents\\python\\data.csv', usecols=[0,1,2,3], nrows=3, header=None, prefix=0)

print(df)

TypeError: read_csv() got an unexpected keyword argument 'prefix'

In [229]:
subjects = ["Maths", "Science", "Art and Craft" , "Social Science"]

data=[60,89,79,86]

dict={ x:y for x in subjects for y in data if subjects.index(x)==data.index(y) }

print(dict)
b=pd.Series(dict)

print(a)
b=pd.DataFrame(b)

print(b)

{'Maths': 60, 'Science': 89, 'Art and Craft': 79, 'Social Science': 86}
a    [Amaan, Shakeel, Isha, Sameer]
b              [101, 201, 301, 401]
dtype: object
                 0
Maths           60
Science         89
Art and Craft   79
Social Science  86

In [ ]:
import numpy as np

In [ ]:
num = pd.Series(np.random.random(15)*10).round()
square = pd.Series(num*num)
square.index = [num]

print(square)

10.0    100.0
2.0       4.0
2.0       4.0
7.0      49.0
6.0      36.0
5.0      25.0
3.0       9.0
6.0      36.0
2.0       4.0
4.0      16.0
10.0    100.0
6.0      36.0
3.0       9.0
1.0       1.0
0.0       0.0
dtype: float64

In [ ]:
square.index.name='Number'

square.name='Squere'

print(square)

10.0    100.0
2.0       4.0
2.0       4.0
7.0      49.0
6.0      36.0
5.0      25.0
3.0       9.0
6.0      36.0
2.0       4.0
4.0      16.0
10.0    100.0
6.0      36.0
3.0       9.0
1.0       1.0
0.0       0.0
Name: Squere, dtype: float64

In [ ]:
print(square.index)

MultiIndex([(10.0,),
            ( 2.0,),
            ( 2.0,),
            ( 7.0,),
            ( 6.0,),
            ( 5.0,),
            ( 3.0,),
            ( 6.0,),
            ( 2.0,),
            ( 4.0,),
            (10.0,),
            ( 6.0,),
            ( 3.0,),
            ( 1.0,),
            ( 0.0,)],
           name='Number')

In [ ]:
sorted=square.sort_values(ascending=False)

print(sorted)

10.0    100.0
10.0    100.0
7.0      49.0
6.0      36.0
6.0      36.0
6.0      36.0
5.0      25.0
4.0      16.0
3.0       9.0
3.0       9.0
2.0       4.0
2.0       4.0
2.0       4.0
1.0       1.0
0.0       0.0
Name: Squere, dtype: float64

In [ ]:
string_values = pd.Series(["a", "j", "d", "f", "t", "a"])

string_values.sort_values(ascending=0)

4    t
1    j
3    f
2    d
0    a
5    a
dtype: object

In [220]:

square.sort_index()

0.0       0
1.0       1
2.0       4
2.0       4
2.0       4
3.0       9
3.0       9
4.0      16
5.0      25
6.0      36
6.0      36
6.0      36
7.0      49
10.0    100
10.0    100
Name: Squere, dtype: int32

In [234]:
b.rank(ascending=0)

                  0
Maths           4.0
Science         1.0
Art and Craft   3.0
Social Science  2.0

In [237]:
data = {'Subject': ['Maths', 'History', 'Science', 'English', 'Georaphy', 'Art'],
        'Marks': (45, 65, 78, 65, 80, 78),
        'GPA': [2.5, 3.0, 3.5, 2.0, 4.0, 4.0]}

df=pd.DataFrame(data)

df

    Subject  Marks  GPA
0     Maths     45  2.5
1   History     65  3.0
2   Science     78  3.5
3   English     65  2.0
4  Georaphy     80  4.0
5       Art     78  4.0

In [238]:
data = [{'Subject': 'Maths', 'Marks': 45, 'GPA':2.5},
        {'Subject':'History', 'Marks':65, 'GPA':3.0},
        {'Subject':'Science', 'Marks':78, 'GPA':3.5},
        {'Subject':'English', 'Marks':65, 'GPA':2.0},
        {'Subject':'Georaphy', 'Marks':80, 'GPA':4.0},
        {'Subject':'Art', 'Marks':78, 'GPA':4.0}]

# create the dataframe using DataFrame()
df_marks = pd.DataFrame(data)

df_marks

    Subject  Marks  GPA
0     Maths     45  2.5
1   History     65  3.0
2   Science     78  3.5
3   English     65  2.0
4  Georaphy     80  4.0
5       Art     78  4.0

In [270]:
df=pd.read_csv('C:\\Users\\HP\\Documents\\python\\data.csv')


f5r=df.iloc[1:5]
print(f5r)
l5r=df.iloc[-5:-1,3]

l5r

   Duration  Pulse  Maxpulse  Calories
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

164    290.8
165    300.0
166    310.2
167    320.4
Name: Calories, dtype: float64

In [258]:
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object