List comprehensions are used to create a new list from an existing iterable. While creating the new list, elements from the iterable can be selectively included in the new list (based on conditions) and transformed as required.

Following are the three Components of list comprehensions:
1. Iterable
1. Output expression
1. Iterator variable which takes the values of the members of the iterable

**In python, list comprehensions are constructed as follows:**

list = [x for x in iterable]

### List Comprehensions vs loops

#### for loop

Letâ€™s create a new list using a given string:<br>
Suppose, you want to separate each element of the string 'Great Lakes' and make a list out of them. The immediate approach would be to make use of for loop

In [3]:
# Using loop for constructing output list 
letter_list=[]
for i in 'LNCT Bhopal':
    letter_list.append(i)
letter_list

['L', 'N', 'C', 'T', ' ', 'B', 'h', 'o', 'p', 'a', 'l']

Here, the output is encapsulated within square brackets that means it is a list. letter_list.append(i) is the function used to add 'i' ( obtained from new iteration ) to the array from previous iteration executed. 'i' takes values of letters from the string 'Great Lakes'.But with a python list comprehension, we can do this in one line

In [4]:
# using list comprehensions
new_list = [i for i in 'LNCT Bhopal']
print(new_list)

['L', 'N', 'C', 'T', ' ', 'B', 'h', 'o', 'p', 'a', 'l']

From the output we can see, a new list is created and assigned to the 'new_list' variable, and list contains the items of the iterable string 'Great Lakes'. We use print() function to print the output

#### Find the squares of each element using list comprehension

In [5]:
num = [13, 32, 33, 24]
num_squares = [n**2 for n in num]

print(num_squares)

[169, 1024, 1089, 576]

Here, the output is encapsulated within square brackets that means it is a list. n**2 is the expression executed for each n. 'n' takes values of elements in 'num'

#### We can use list comprehension to iterate over list of strings. Convert all the words in the given list to the upper case

In [6]:
list_1 = ["yes", "it's", "a", "Beautiful", "Day"]

upper_list_1 = [str.upper() for str in list_1]

print(upper_list_1)

['YES', "IT'S", 'A', 'BEAUTIFUL', 'DAY']

#### List comprehensions can be used to produce a list of a lists, as shown below:

In [7]:
list_1 = [11, 12, 13, 14]

square_cube_num = [ [a**2, a**3] for a in list_1]

print(square_cube_num)

[[121, 1331], [144, 1728], [169, 2197], [196, 2744]]

Here we use list_1 to create square_cube_num, which is a list of lists that comprises of values of squares and cubes of the numbers from list_1

### nested for loop

**Print the tables of numbers from 13 to 17**

In [8]:
[[i*j for j in range(1,11)] for i in range(13,18)]

[[13, 26, 39, 52, 65, 78, 91, 104, 117, 130],
 [14, 28, 42, 56, 70, 84, 98, 112, 126, 140],
 [15, 30, 45, 60, 75, 90, 105, 120, 135, 150],
 [16, 32, 48, 64, 80, 96, 112, 128, 144, 160],
 [17, 34, 51, 68, 85, 102, 119, 136, 153, 170]]

**Create a list of tuples with a and b such that a is less than b**

In [9]:
list_1 = [13, 72, 27, 83, 89, 54]
list_2 = [25, 37, 35]

new_list = [(a, b) for a in list_1 for b in list_2 if a < b]

print(new_list)

[(13, 25), (13, 37), (13, 35), (27, 37), (27, 35)]

#### Conditional list comprehension
New lists can be created by 'list comprehensions' that selectively modify existing squential data types like lists. For this conditional statements can be used.<br>
'Conditional list comprehension' adds only those items to the list that meet the condition (for which the condition is True).

#### if satement

**We create an example to print the even numbers from 0 to 11.**

In [10]:
num_list = [i for i in range(11) if i%2==0]
print(num_list)

[0, 2, 4, 6, 8, 10]

**Square the number if its even, else, cube it**

In [11]:
[i**2 if i%2==0 else i**3 for i in [2,3,4,5]]

[4, 27, 16, 125]

#### 3.4 nested condition

Nested conditions comprise conditional statements contained within the definition of other conditional statements

**Find all the numbers from a given list divisible by 2 and 3**

In [14]:
numbers = [1, 2, 3, 4, 5, 6, 18, 20]
number_list = [number for number in numbers if number % 2 == 0 if number % 3 == 0]
print(number_list)

[6, 18]

Here, list comprehension checks the number is divisible by 2 and 3. If number satisfies both conditions, number is appended to number_list.

**For all integers from 0 to 20.Check if the number is odd or even**

In [17]:
["Even" if i%2==0 else "Odd" for i in range(21)]

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

**Make a list of numbers common to both the lists using list comprehension**

In [19]:
list_1 = [102, 232, 233, 344, 456, 564, 234]
list_2 = [102, 233, 324, 564, 567, 523, 456]

common_num = [a for a in list_1 for b in list_2 if a == b]

print(common_num)

[102, 233, 456, 564]