# Sets

It is a collection of unique items.<br>
It is used to eliminate duplicate items from a list.<br>
Also, it supports set operations like union intersection and difference.

**Creating Set**<br>
In Python sets are written with curly brackets

In [1]:
# create a set
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12}
print (age_set)

# create a set
set([1, 2, 3, 4])

{32, 33, 11, 12, 13, 21, 23, 24, 31}

{1, 2, 3, 4}

Observed that the set contains unique items only even though we put duplicates into it

A set can contain elements of different data types

In [2]:
# create a set
new_set = {12, 12, 'python', 4, 'world'}

# print
new_set

{12, 4, 'python', 'world'}

Following are the methods that you can use on sets:
1. add()
1. update()
1. len()
1. remove()
1. pop()

**Change Items**<br>
Once a set is created, you cannot modify its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [3]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [4]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [5]:
# print the length of set
len(my_set)

4

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [6]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list 
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
It removes a random element from the set and returns the removed element

In [7]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set 
my_set.pop()

'world'

In [8]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

**Set Operations**

**Disjoint set:**
if the two sets have no common elements

In [9]:
print (set([11, 12, 22, 33, 4]).isdisjoint(set([4, 1])))

False

**Checking for subset**<br>
Use issubset() method to check whether all elements of a set are contained in another set

In [10]:
# check whether one set 'a' is a subset of the 'b'
a = set([1, 3, 4, 5])
b = set([1, 3, 4, 5, 6])
print('Is a subset of b?', a.issubset(b))

Is a subset of b? True

**Set Union**<br>
Use union() method to compute the union of two or more sets

In [11]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

**Set Intersection**<br>
Take intersection to find the common elements

In [12]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print (a & b & c)

{12, 78}
{12, 78}

**Set Difference**<br>
It returns a new set containing all items from the first set that are not in the other set

In [13]:
a = set([23,45,56,77,89])
b = set([23,45,54,33,23])
print(a - b)

{56, 89, 77}