# Slicing

In [1]:
mystr = 'data science'

mystr[start:stop:step]

1. myStr[ : stop] # By using one colon and leaving the first argument blank we automatically start at index 0, stepping by 1
2. myStr[start : ] # By using one colon and leaving the last argument blank we automatically go to the end, stepping by 1
3. myStr[ : : step] # by using two colons and leaving the first two arguments blank we start at index 0, go to the end and step by 1

In [2]:
# get only the fist element
# indexing starts from 0 in python
mystr[0]

'd'

In [3]:
# get only third element
mystr[2]

't'

In [4]:
# display all the letters in the variable
mystr[:]

'data science'

In [5]:
len(mystr)

12

In [6]:
# display all the letters in the variable using len()
# len(): gives lenght of the variable
mystr[0:len(mystr)]

'data science'

In [7]:
# display the first 3 letter alone by specifying the start and the end
# indexing starts from 0 in python, ending at n-1
mystr[0:3]

'dat'

In [8]:
# display from the 3rd letter till the last
mystr[2:]

'ta science'

In [9]:
# display from the 3rd element till the 6th element
mystr[2:6]

'ta s'

In [10]:
# display from the 3rd element and get next 5 letters
mystr[2:8]

'ta sci'

In [11]:
# display from the 3rd element to second last element 
mystr[2:-1]

'ta scienc'

In [12]:
# reverse the string
mystr[::-1]

'ecneics atad'

In [13]:
# replace d with D in the string
mystr.replace('d','D')

'Data science'

In [14]:
# replace d with 1 in the string
mystr.replace('d','1')

'1ata science'

In [15]:
# replace C with A in the string
mystr.replace('C','A')

'data science'

In [16]:
# convert the string in upper case
x = mystr.upper()
x

'DATA SCIENCE'

In [17]:
# convert the string in lower case
x.lower()

'data science'

In [18]:
# convert the first letter of each word to be upper case
mystr.title()

'Data Science'

In [19]:
mystr.capitalize()

'Data science'

In [20]:
mystr1 = 'I like python'
mystr1.replace('like', 'am in love with')

'I am in love with python'